nav {
    text-align: center;
}

.liste_element_navbar {
    display: inline-flex;
    padding-top: 2rem;


    width: 100%;
}

.element_navbar {

    width: 40rem;
    height: 90%;
    margin-left: 20px;



}
.element_navbar p {
    padding-bottom: 5px;
    cursor: pointer;
    width: 50%;
    background-color: transparent;


    font-size: 18px;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    outline: none;
    border-radius: 3px;
    margin: 0 10px;

    border: 3px solid transparent;

}

.element_navbar p:hover {
    background-color: transparent;
    box-shadow: none;
    color: #007bff;
}

.element_navbar p:active {
    transform: translateY(3px);

}

.element_navbar p::after, .element_navbar p::before{
    border-radius: 3px;
}



.selected p{
    display:block;
    content: '';
    border-bottom: solid 3px #019fb6;

}